.reset-section {
    display: flex;
    justify-content: center;
    align-content: center;
}

.reset-box {
    padding: 10px;
}

.heading {
    text-align: center;
    font-size: 1.3rem;
    color: #000;
}