<div class="reset-section mt-5">
  <div class="reset-box">
    <div class="heading">Reset Password</div>
    <form [formGroup]="signUpForm">
      <div class="mt-4">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>{{
            "authentication.label_new_password" | translate
          }}</mat-label>
          <input
            matInput
            id="password"
            [type]="hide ? 'password' : 'text'"
            (keyup)="validPassword()"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="signUpDetails.password.errors?.required">
            {{ "general.validation_required_field" | translate }}
          </mat-error>
          <mat-error *ngIf="isvalidPassword">
            {{
              "authentication.password_pattern_validation_message" | translate
            }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mt-20">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            id="confirm-password"
            type="password"
            formControlName="confirmPassword"
          />
          <mat-error *ngIf="signUpDetails.confirmPassword.errors?.required">
            {{ "general.validation_required_field" | translate }}
          </mat-error>
          <mat-error
            *ngIf="
              signUpDetails.confirmPassword.errors?.confirmPasswordValidator
            "
          >
            {{ "authentication.password_match_validation_message" | translate }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="example-button-row mt-10">
        <button
          mat-raised-button
          class="auth-button"
          id="signup-submit"
          color="primary"
          (click)="resetPassword()"
        >
          Confirm
        </button>
      </div>
    </form>
  </div>
</div>
