.header-logo{
    cursor: pointer;
    // left: 36px;
    margin-left: 100px;
    @media (max-width : 360px){
        left:15px;
    }

    img {
        width: 90px;
        outline: none;
        @media (max-width : 360px){
        width:90px;
        }
    }
}

.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav-link {
    color: #fff !important;
    font-size: 1.1rem;
    margin-left: 10px;
    text-transform: uppercase;
    padding: 1.3rem 1.1rem;
    font-weight: 500;
    cursor: pointer;
}

.auth {
    margin-left: auto;
    margin-right: 15px;
    @media screen and (max-width: 767px) {
        display: none;    
    }
}

.header-right-item {
    color: #fff;
    font-size: 1.1rem;
    margin-right: 10px;
    padding: 1.3rem 1.1rem;
    font-weight: 500;
    cursor: pointer;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;

    @media screen and (max-width: 767px) {
        display: none;    
    }
}

.dropdown {
    font-size: 15px; 
    font-weight: 500;
}
