<section>
  <div class="header-section animated fadeInDown" id="navbar">
    <div class="header-links">
      <ul class="navbar-nav">
        <li class="shop nav-item dropdown">
          <a class="header-nav-link" routerLink="/">Home</a>
        </li>
        <li class="shop nav-item dropdown">
          <a class="header-nav-link">T-Shirts</a>
        </li>
        <li class="shop nav-item dropdown">
          <a class="header-nav-link">Polos</a>
        </li>
        <li class="shop nav-item dropdown">
          <a class="header-nav-link">Shorts</a>
        </li>
      </ul>
    </div>
    <div
      class="header-logo"
      id="header-navigate"
      style="text-align: center;
    margin: auto;"
    >
      <img src="assets/images/logo2.jpg" id="logo" alt="Logo" routerLink="/" />
    </div>
    <div class="auth">
      <a class="header-right-item" routerLink="/auth">
        <mat-icon>account_circle</mat-icon>
      </a>
      <a class="header-right-item" routerLink="/cart">
        <mat-icon matBadge="{{ cartItems }}" matBadgeColor="warn">
          shopping_cart
        </mat-icon>
      </a>
    </div>
  </div>
</section>
