<ngb-carousel>
  <ng-template ngbSlide *ngFor="let slider of sliders">
    <img
      class="img-fluid mx-auto d-block"
      [src]="slider.imagePath"
      alt="Random first slide"
      width="100%"
    />
  </ng-template>
</ngb-carousel>

<section>
  <div class="product-header">
    <div>{{ categoryName }}</div>
  </div>
  <hr />
  <div class="product-body">
    <div *ngFor="let prod of productList">
      <div class="productlist">
        <a class="listhover" (click)="productDetails(prod)">
          <!-- <div class="listhoverimg" style="background-image: url({{prod.images[1]}});"></div> -->
          <img src="{{ prod.images[0] }}" alt="" />
        </a>
        <div class="prod-desc">
          <h5>{{ prod.name }}</h5>
          <div class="row">
            <div class="col-12 listprice ecltext">{{ prod.category }}</div>
            <div class="col-12">
              <span>Rs. {{ prod.sp }}</span>
            </div>
          </div>
        </div>
      </div>
      <button (click)="addTOCart(prod, 'XS', 2)">Add to Cart</button>
    </div>
  </div>
</section>
