<div class="tab-section">
  <div>
    <form [formGroup]="loginForm">
      <div class="mt-10">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>{{ "authentication.label_userId" | translate }}</mat-label>
          <input
            matInput
            placeholder="{{ 'authentication.placeholder_email' | translate }}"
            formControlName="email"
          />
        </mat-form-field>
      </div>
      <div class="mt-10">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>{{
            "authentication.label_password" | translate
          }}</mat-label>
          <input
            matInput
            id="password"
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="example-button-row mt-10">
        <button
          mat-raised-button
          class="auth-button"
          color="primary"
          (click)="login()"
        >
          {{ "authentication.login" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
