<div class="tab-section">
    <div>
        <form [formGroup]="loginForm">
            <div class="mt-10">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                </mat-form-field>
            </div>
            <div class="mt-10">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password" formControlName="password">
                </mat-form-field>
            </div>
            <div class="example-button-row mt-10">
                <button mat-raised-button class="auth-button" color="primary" (click)="login()">Login</button>
            </div>
        </form>
    </div>
</div>
