<mat-horizontal-stepper linear #stepper class="mt-5">
  <mat-step completed="false">
    <ng-template matStepLabel>CART</ng-template>
    <div style="padding: 15px">
      <div *ngIf="cartItems && cartItems.length > 0" class="row mt-3">
        <div class="col-md-9 disp-flex items-total">
          <span>Items ({{ cartItems.length }})</span>
          <span>Total Payable: ₹ {{ totalPayable }}</span>
        </div>
        <div class="col-md-3">
          <button
            mat-raised-button
            class="place-order-btn"
            (click)="goToNextStep()"
          >
            PLACE ORDER
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 mt-4" *ngFor="let cart of cartItems">
          <div class="row cart-box">
            <div class="col-md-3 col-sm-3 col-12">
              <img src="{{ cart.product_details.images[0] }}" alt="" />
            </div>
            <div class="col-md-9 col-sm-9 col-12 cart-desc">
              <div class="disp-flex-col">
                <label class="mt-2 cart-name">{{
                  cart.product_details.name
                }}</label>
                <label class="mt-2 cart-category">{{
                  cart.product_details.category
                }}</label>
                <div class="disp-flex mt-2" style="align-items: center">
                  <label>SIZE : {{ cart.variant_details.size }}</label>
                  <span class="mx-3 vertical-line"></span>
                  <div>
                    QTY :
                    <select
                      name="quantity"
                      (change)="selectOption($event, cart)"
                      [(ngModel)]="cart.quantity"
                    >
                      <option *ngFor="let option of quatityOptions">{{
                        option
                      }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <span class="horizontal-line mt-4"></span>
              <div class="mt-3">
                <button mat-stroked-button (click)="deleteCart(cart)">
                  Remove
                </button>
              </div>
            </div>
            <div style="position: absolute; right: 3rem;">
              ₹ {{ cart.quantity * cart.product_details.mrp }}
            </div>
          </div>
        </div>
        <div class="col-md-3" *ngIf="cartItems && cartItems.length > 0">
          <div class="mt-5">BILLING DETAILS</div>
          <div class="disp-flex billing-cart-box">
            <label>Cart Total</label>
            <span>₹ {{ cartTotal }}</span>
          </div>
          <div class="disp-flex billing-cart-box">
            <label>GST</label>
            <span>₹ {{ gst }}</span>
          </div>
          <div class="disp-flex billing-cart-box">
            <label>Shipping Charges</label>
            <span>₹ {{ shippingCharges }}</span>
          </div>
          <div class="disp-flex billing-cart-box">
            <label>Total Payable</label>
            <span>₹ {{ totalPayable }}</span>
          </div>
          <button
            mat-raised-button
            class="place-order-btn"
            (click)="goToNextStep()"
          >
            PLACE ORDER
          </button>
        </div>
        <!-- <div class="place-order-footer">
        <button mat-raised-button>
          PLACE ORDER
        </button>
      </div> -->
      </div>
      <div *ngIf="cartItems.length === 0" class="empty-cart-box">
        <img
          class="empty-cart"
          src="./assets/images/empty-cart.png"
          alt="Empty-cart"
        />
        <h3>Your Shopping Cart is empty.</h3>
        <h3>Please add something soon, cart have feelings too.</h3>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>ADDRESS</ng-template>
    <div class="add-address-btn mt-2">
      <button
        mat-raised-button
        class="primary-color-btn"
        (click)="addAddressShowDialogBox()"
      >
        ADD ADDRESS
      </button>
    </div>
    <div *ngIf="addressList && addressList.length > 0" class="mt-4">
      <label class="ml-3 label-text">Select Address</label>
      <div class="row">
        <div
          class="col-md-5 address-box ml-4 mt-4 cursor-pointer"
          *ngFor="let address of addressList; let i = index"
          (click)="onSelectAddress(address)"
        >
          <img
            class="selected-address"
            *ngIf="
              selectedAddress &&
              address &&
              address?.element_id === selectedAddress.element_id
            "
            src="./assets/svg/checked.svg"
            alt="Checked"
          />
          <img
            class="selected-address"
            *ngIf="
              selectedAddress &&
              address &&
              address?.element_id !== selectedAddress.element_id
            "
            src="./assets/svg/unchecked.svg"
            alt="Checked"
          />
          <span>{{ address?.address_1 }} </span>
          <span>{{ address?.address_2 }}</span>
          <br />
          <span>{{ address?.city }}, </span>
          <span>{{ address?.state }}, </span>
          <span>{{ address?.country }} </span>
          <br />
          <span>{{ address?.landmark }} </span>
          <span>{{ address?.pincode }}</span>
          <div style="display: flex; justify-content: flex-end;">
            <button
              mat-raised-button
              class="action-btns edit-btn"
              (click)="editAddress(address)"
            >
              <mat-icon>edit</mat-icon>
              Edit
            </button>
            <button
              mat-raised-button
              class="action-btns delete-btn ml-2"
              (click)="deleteAddress(address)"
            >
              <mat-icon>delete</mat-icon>
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="addressList && addressList.length === 0 && !showAddressFields"
      class="mt-4"
      style="display: flex; justify-content: center;"
    >
      <img src="./assets/images/no-record-found.png" alt="No Records" />
    </div>
    <div class="address-cart mt-4" *ngIf="showAddressFields">
      <form [formGroup]="addressForm">
        <div class="row">
          <div class="col-md-6">
            <div class="mt-10">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Address Line1 </mat-label>
                <input
                  matInput
                  placeholder="Address Line1"
                  formControlName="addressLine1"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div class="mt-10">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Address Line2 </mat-label>
                <input
                  matInput
                  placeholder="street, area"
                  formControlName="addressLine2"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mt-10">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>City </mat-label>
                <input matInput placeholder="City" formControlName="city" />
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mt-10">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>State </mat-label>
                <input matInput placeholder="State" formControlName="state" />
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mt-10">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Country </mat-label>
                <input
                  matInput
                  placeholder="Country"
                  formControlName="country"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mt-10">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Pin Code </mat-label>
                <input matInput placeholder="Pin Code" formControlName="pincode" />
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mt-10">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Landmark </mat-label>
                <input matInput placeholder="Landmark" formControlName="landmark" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <button
            mat-raised-button
            class="primary-color-btn ml-3 mt-2 action-btns"
            (click)="addAddress()"
          >
            Save
          </button>

          <button
            mat-stroked-button
            class="ml-3 mt-2 action-btns"
            (click)="closeAddress()"
          >
            Close
          </button>

          <button
            mat-stroked-button
            class="ml-3 mt-2 action-btns"
            (click)="clearAddress()"
          >
            Clear
          </button>
        </div>
      </form>
    </div>
    <div
      style="float: right"
      class="mt-3"
      *ngIf="addressList && addressList.length > 0"
    >
      <button
        mat-raised-button
        class="primary-color-btn"
        (click)="continueToPayment()"
      >
        Continue to Payment
      </button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>PAYMENT</ng-template>
  </mat-step>
</mat-horizontal-stepper>
