<mat-dialog-content class="mat-typography">
  <h3>Registration successful</h3>
  <img src="./assets/images/success.png" alt="success" class="success" />
  <p>
    Learn one way to build applications with Angular and reuse your code and
    abilities to build apps for any deployment target. For web, mobile web,
    native mobile and native desktop.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close class="close">OK</button>
</mat-dialog-actions>
