.success {
  width: 14%;
}

.mat-dialog-content {
  text-align: center;
}

.cdk-overlay-pane {
  max-width: 30vw !important;
}

.close {
  outline: none;
}

.error {
  text-align: center;
  color: #f01b0c;
  font-size: 1.5rem;
}

.success-msg {
  text-align: center;
  color: #000000;
  font-size: 1.5rem;
}
