<mat-dialog-content class="mat-typography">
  <h3>Forgot Password</h3>
  <div>
    <form [formGroup]="forgotPasswordForm">
      <div class="mt-10">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            id="email"
            formControlName="email"
            autocomplete="off"
            (blur)="checkUniqueEmail()"
          />
          <mat-error *ngIf="signUpDetails.email.errors?.required">
            Email required
          </mat-error>
        </mat-form-field>
        <!-- <div
          class="error-section"
          *ngIf="this.forgotPasswordForm.controls['email'].valid && !isValidEmail"
        >
          Please register to continue
        </div> -->
      </div>
      <div class="example-button-row mt-10">
        <button
          mat-raised-button
          class="auth-button"
          id="signup-submit"
          color="primary"
          (click)="forgotPwdInit()"
          [disabled]="!isValidEmail"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</mat-dialog-content>
