/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #fff;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #222;
}

.mat-tab-label-active {
  background: #3f51b5;
  color: #fff !important;
}

.mat-tab-header {
  align-self: center;
}

.tab-section {
  // background: #fff;
  padding: 20px 40px;
  margin-bottom: 30px;
}

.error {
  color: #ff0000;
  text-align: start;
}

.mt-10 {
  margin-top: 1em;
}

.mt-20 {
  margin-top: 2.5em;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  color: #222;
}

.mat-error {
  font-size: 12px;
}

.mat-tab-label {
  color: #222;
}

.example-full-width {
  width: 100%;
}

.auth-button {
  width: 100%;
  border-radius: 20px !important;
  outline: none !important;
}

/* Header part - start here */
.header-section {
  height: 80px;
  background: #c29200;
  // background: #079aff;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  // padding: 0px 20px 0px 30px;
}

.sticky {
  background: #c29200;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 0;
  height: 13vh;
  width: 100%;
  z-index: 10;
}
/* Header part - end here */

/* flexbox - start here */
.disp-flex-col {
  display: flex;
  flex-direction: column;
}

.disp-flex {
  display: flex;
}
/* flexbox - end here */

.place-order-btn {
  background-color: #298e83;
  border-color: #298e83;
  color: #fff;
  width: 100%;
  outline: none;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.place-order-footer {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}

.cursor-pointer {
  cursor: pointer;
}
//label

.label-text {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.primary-color-btn {
  background-color: #298e83;
  border-color: #298e83;
  color: #fff;
  outline: none !important;
}

/*SNACK BAR - START HERE*/
.snack-success-message {
  background-color: #166d1d;
  color: #fff;
}

.snack-error-message {
  background-color: #fa6469;
  color: #fff;
}

.snack-error-message button {
  background-color: #fff;
  color: #000;
  outline: none;
}

/*SNACKBAR - END HERE*/

/* Buttons - START HERE*/

.delete-btn {
  background-color: #ff0000;
  color: #fff;
}

/* Buttons - End HERE*/

/* mat step label - START HERE */

.mat-step-label {
  @media screen and (max-width: 768px) {
    font-size: 10px;
  }
}

/* mat step label - END HERE */

/*Custom error start here */

.error-section {
  color: #f44336;
  font-size: 12px;
  margin-left: 1em;
  margin-top: -16px;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebcccc;
  color: #a94442;
}

.alert {
  padding: 0.75rem 1.25rem;
  // margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

/*Custom error end here*/

.mat-horizontal-stepper-header-container {
  width: 50%;
  margin-left: 25%;
  @media screen and (max-width: 768px) {
    width: 100%;
    margin-left: 0;
  }
}
