<section>
    <div class="header-section animated fadeInDown" id="navbar">
        <div class="header-logo" id="header-navigate">
            <img src="assets/images/ang-logo.png" id="logo" alt="Logo" />
        </div>
        <div class="header-links">
            <a class="header-nav-link" routerLink="/home">Home</a>
            <a class="header-nav-link">T-Shirts</a>
            <a class="header-nav-link">Polos</a>
        </div>
        <div class="auth">
            <a routerLink="/auth">Login / Register</a>
        </div>
    </div>
</section>
<!-- Create separate component for header -->

<!-- Banner start here -->
<ngb-carousel>
    <ng-template ngbSlide *ngFor="let slider of sliders">
        <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
    </ng-template>
</ngb-carousel>
<!-- Banner Ends here -->

<section class="mt-10" (scroll)="onWindowScroll($event);">
    <!-- <div class="lined-heading">
        <span>PRODUCTS</span>
    </div> -->

    <div class="product-list">
        <div *ngFor="let data of category" class="tilethumb">
            <div class="htilebtn txt-upper fbold">{{data.categoryName}}</div>
            <img src="{{data.categoryImage}}" class="zoom" alt="{{data.categoryName}}">
        </div>
    </div>

</section>