//Section
.lined-heading {
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    display: block;
    float: left;
    width: 100%;
    line-height: 35px;
}
.lined-heading:before {
    position: absolute;
    top: 50%;
    z-index: 1;
    display: block;
    width: 100%;
    height: 1px;
    margin-top: -1px;
    border-top: 2px dashed #a7a9ac;
    content: "";
}

.lined-heading span {
    position: relative;
    z-index: 1;
    padding: 0 30px;
    background: #fff;
    display: inline-block;
    color: #a7a9ac;
    font-family: source_sans_prosemibold;
    font-size: 24px;
}
  
.example-card {
    max-width: 400px;
  }

.product-list {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin-bottom: 10rem;
    margin-top: 1rem;
}

@media(max-width: 600px) {
    .product-list {
        flex-direction: column;
        align-items: center;

        .zoom {
            width: 50vw;
        }
    
        .htilebtn {
            font-size: 1.0em;
        }
    }
}

.tilethumb {
    margin-bottom: 7px;
    position: relative;
    height: 100%;
}

.scaleImg {
    position: relative;
}

.htilebtn {
    color: #fff;
    font-size: 1.6em;
    z-index: 9;
    padding-left: 8px;
    padding-bottom: 7px;
    line-height: 1em;
    bottom: 0;
    top: unset;
    font-weight: 900;
}

.htilebtn {
    position: absolute;
    left: 0;
}
.txt-upper {
    text-transform: uppercase;
}

.zoom {
    transition: transform .2s;
    width: 30vw;
    margin: 0 auto;
    cursor: pointer;
}

.zoom:hover {
    transform: scale(1.1);
}

.cat-heading {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    padding: 20px;
    font-weight: 500;
}