.bgcolor {
    background-color: #e6e7e8;
}

.auth-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.loginbox {
    background: #fff;
    padding: 10px 40px 40px;
    margin-bottom: 30px;
}

.loginbox .title {
    padding: 15px 0;
    text-align: center;
}

.f16 {
    font-size: 16px;
}