<section class="bgcolor">
    <div class="header-section">
        <div *ngIf="isLogin" class="header-title">Login with the Facile</div>
        <div *ngIf="isSignup" class="header-title">Register with the Facile</div>
    </div>
    <div class="auth-section">
        <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="selectTab($event)">
            <mat-tab label="LOGIN">
                <app-login *ngIf="isLogin"></app-login>
                <div class="redirect">New User ? <span (click)="redirectTo(1)">Create Account</span></div>
            </mat-tab>
            <mat-tab label="REGISTER">
                <app-signup *ngIf="isSignup"></app-signup>
                <div class="redirect">Already a User ? <span (click)="redirectTo(0)"> Login </span></div>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>